<!-- profile.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.username }} - Профиль</title>
</head>
<body>
    <h2>Профиль пользователя {{ user.username }}</h2>
    <p>Имя: {{ user.userprofile.name }}</p>
    <p>Информация: {{ user.userprofile.bio }}</p>
    {% if user.userprofile.avatar %}
        <img src="{{ user.userprofile.avatar.url }}" alt="Ваш аватар" style="max-width: 150px; max-height: 150px;">
    {% else %}
        <p>Аватар не загружен</p>
    {% endif %}
    <br>
    <a href="{% url 'create_post' %}">Создать пост</a>
    <br>
    <a href="{% url 'edit_profile' %}">Редактировать профиль</a>
    <br>
    <h3>Ваши посты:</h3>
    {% for post in user_posts %}
    <li>Текст поста:</li>
        <div>
            <p>{{ post.text }}</p>
            {% if post.image %}
                <p>Изображение поста:</p>
                <img src="{{ post.image.url }}" alt="Изображение поста" style="max-width: 150px; max-height: 150px;">
            {% endif %}
        </div>
    {% if request.user == post.user %}
                <a href="{% url 'delete_post' post.id %}">Удалить пост</a>
            {% endif %}
    {% endfor %}
    <br>
    <a href="{% url 'index' %}">На главную</a>
    <br>
    <a href="{% url 'logout' %}">Выйти</a>
</body>
</html>
